#include ".Xres.theme.nord"

!! URxvt Appearance
!URxvt.font: -*-rissole-*
!URxvt.boldFont: -*-rissole-*
!URxvt.italicFont: -*-rissole-*
!URxvt.boldItalicfont: -*-rissole-*
URxvt.transparent: true
URxvt.shading: 20
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt*font: xft:Hack Nerd Font:size=14
